
.NavBrand {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--dark-blue);
}

.NavBar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: var(--white);
  padding: 2rem 4rem;
  font-weight: 500;
  align-items: center;
  position: relative;
  z-index: 9999;
  height: 50px;
}


@media screen and (min-width: 800px) {
  .MenuIcon {
    display: none;
  }
  .NavLink:first-child > .NavText {
    color: var(--dark-blue);
    font-weight: 600;
  }
  .NavLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .NavLink {
    margin: 0 1.3rem;
    display: inline;
    white-space: nowrap;
  }
  .NavLink::after {
    top: 0;
    bottom: 5rem;
    border-bottom: 3px solid rgb(0, 132, 255);
  }
  
}
.NavButton {
  padding: 0.6rem 1rem;
  border: none;
  font-size: 1rem;
  background-color: var(--dark-blue);
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  transition: background-color 500ms ease-in;
}
.NavButton:hover {
  background-color: rgb(77, 29, 165);
}
.NavLink a {
  text-decoration: none;
  color: rgb(75, 74, 74);
  font-size: 1rem;
  font-weight: 500;
}

.NavLink .NavText:hover {
  color: var(--dark-blue);
  border-width: 2px;
  transition: color 500ms ease-in;
  font-weight: 600;
}

.NavLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .MobileView {
    position: absolute;
    top: 4rem;
    right: 0;
    left: 0;
    background-color: var(--gray);
    width: 100%;
    padding: 1.8rem 2rem;
  }
  .NavBar {
    padding: 2rem;
  }
  .DesktopView {
    display: none;
  }
  .NavLink {
    padding: 0.9rem 0;
    display: block;
  }
  .NavButton {
    color: var(--white);
    font-size: 1rem;
  }
  .MenuIcon {
    color: rgb(71, 71, 71);
    font-size: 2.5rem;
    position: relative;
  }
  .NavLink .NavText:hover {
    transition: color 500ms ease-in;
    font-weight: 600;
    font-size: 0.9rem;
  }
}
