@media screen and (min-width: 800px) {
  .Container {
    display: flex;
    min-height: 100vh;
    position: relative
  }
  .VectaryIcon {
    position: absolute;
    top: -2rem;
    left: 37%;
    width: 400px;
  }
  .Container .Left,
  .Container .Right {
    flex: 1;
    padding: 2rem 5rem;
  }
  .Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.8rem;
  }
  .SignUpForm {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 800px) {
  .Container .Right {
    display: none;
  }
  .Container {
    padding: 3rem 2rem;
  }
  .FormHeader {
    margin-top: 1rem;
  }
}

.formGroup {
  margin-top: 1.8rem;
}
.Container .Right {
  background-color: var(--dark-blue);
}
.InputGroup label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  color: rgb(78, 78, 78);
}
.InputGroup input {
  outline: 0;
  border: 0;
  color: rgb(78, 78, 78);
  width: 100%;
  transition: border 0.5s ease-in;
  padding: 0.68rem 0.85rem;
  border-radius: 8px;
}

.InputGroup {
  margin-bottom: 1rem;
}
.RegisterBtn {
  width: 100%;
  border: 0;
  outline: 0;
  margin-top: 1.8rem;
  height: 43px;
  border-radius: 8px;
  background-color: var(--dark-blue);
  color: var(--white);
  font-weight: 500;
  font-size: 0.9rem;
}

.Logo {
  color: var(--dark-blue);
  font-weight: 400;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
}
.accountHeader {
  text-decoration: none;
  color: var(--dark-blue);
}
.FormHeader p {
  margin-top: 0.7rem;
  color:rgb(78, 78, 78);
}
.FormHeader h2 {
  margin-top: 0.6rem;
  color:  rgb(78, 78, 78);
}
.SignInLink a {
  text-decoration: none;
  font-weight: 500;
}
.SignInLink a:hover {
  text-decoration: underline;
}
.SignInLink a:visited {
  color: var(--dark-blue);
}
.Right h1 {
  color: var(--white);
  margin-top: 15rem;
  font-size: 2rem;
}
.Right h1, .Right h2 {
  font-weight: 500;
}
.Right h2 {
  color: var(--white);
  font-size: 2rem;
}
.Right p {
  color: var(--white);
  margin-top: 1.3rem;
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-weight: 300;
}
.fullStop {
  display: inline-block;
  color: var(--dark-blue);
}
.Input {
  display: flex; 
  align-items: center;
  background-color: var(--white);
  overflow: hidden;
  transition: border 0.5s ease-in;
  border-radius: 8px;
  border: 1px solid var(--gray);
}

.Input:hover{
  border: 1px solid rgb(26, 114, 196);
}  
.Icon {
  font-size: 1.2rem;
  color: rgb(78, 78, 78);
  display: block;
  cursor: pointer;
  margin: 0 0.6rem;
}
@media screen and (min-width: 800px){
.line {
  position: relative;
  width: 100%;
  margin: 2.5rem 0 1.2rem 0;
  height: 1px;
  background-color: rgb(158, 155, 155);
}

.line::before {
  content: "or sign up with";
  position: absolute;
  font-weight: 500;
  top: 50%;
  right: 23%;
  font-size: 0.9rem;
  transform: translate(-50%, -50%);
  padding: 0 15px;
  color: rgb(88, 88, 88);
  background-color: #faf8f8;
}
}
@media screen and (max-width: 800px){
.line::before {
  content: "or sign up with";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.4rem 0;
}
}
.Input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.SignUpPlatforms .FacebookIcon {
  color: rgb(27, 11, 167);
}
.SignUpPlatforms {
  /* border: 2px solid red; */
   text-align: center;
   margin: 0;
   padding: 0.8rem;
}
.SignUpPlatforms .FacebookIcon, .SignUpPlatforms .GoogleIcon, .SignUpPlatforms .AppleIcon {
  margin: 0 0.8rem;
  font-size: 1.2rem;
}