/**  Desktop View **/
@media screen and (min-width: 800px) {
  .HeroSection {
    display: flex;
    width: 1250px;
    margin: 0 auto;
    padding: 5rem 2rem;
  }
  .RegisterBtn {
    padding: 0.8rem 1.4rem 0.8rem 1.4rem;
  }
  .HeroSection .Right,
  .HeroSection .Left {
    flex: 1;
  }
  .Features h2 {
    padding: 2.5rem;
    font-size: 2rem;
  }
  .Features {
    width: 1250px;
    margin: 0 auto;
    padding: 2rem;
  }
  .FeatureContent {
    display: flex;
  }
  .FeatureContent .Right,
  .FeatureContent .Left {
    flex: 1;
  }
  .FeatureContent .Right p {
    margin-top: 1.4rem;
    line-height: 2;
  }
  .Testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 1150px;
    column-gap: 2rem;
    padding: 3rem 2rem;
  }

  .p {
    width: 480px;
    font-size: 1.1rem;
  }
  .h1 {
    font-size: 3rem;
  }
  .HeroLogo {
    padding: 2rem;
    background-color: var(--white);
  }
  .Logos {
    width: 1250px;
    padding: 0 2rem;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2.5rem;
  }

  .SubscriberSection {
    width: 1250px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
  }
  .SubscriberForm {
    border: 1px solid var(--gray);
    display: flex;
    margin-top: 2rem;
    width: 500px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .SubscriberForm button {
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: var(--dark-blue);
    color: var(--white);
  }
  .MobileAppSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1250px;
    margin: 0 auto;
    padding: 3rem 2rem;
  }
}
.FeatureContent {
  margin-top: 1.8rem;
}
.SubscriberSection h2 {
  text-align: center;
}
.FormContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SubscriberForm input {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: var(--white);
}
.SubscriberForm {
  margin-top: 2rem;
}
.LeftParagraph {
  margin-top: 1rem;
  color: rgb(70, 70, 70);
}

/* Mobile View */
@media screen and (max-width: 800px) {
  .FeatureContent .Right p {
    margin-top: 1.4rem;
    line-height: 2;
  }
  .RegisterBtn {
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    margin-top: 0.2rem;
  }
  .SvgLogo {
    width: 100%;
  }
  .Testimonials {
    padding: 1.8rem 2rem;
    display: grid;
    row-gap: 2rem;
  }
  .SubscriberForm input {
    width: 100%;
  }
  .Features {
    padding: 1.8rem 2rem;
  }
  .HeroSection .Right {
    display: none;
  }
  .FeatureContent .Left {
    display: none;
  }
  .HeroSection {
    padding: 1.8rem 2rem;
  }
  .FeatureContent .Right h3 {
    padding: 0;
    margin: 0;
  }
  .p {
    font-size: 1.1rem;
    color: rgb(78, 74, 74);
  }

  .h1 {
    font-size: 2.5rem;
  }
  .Logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem;
  }
  .Logos img {
    width: 85px;
  }
  .SubscriberForm button {
    margin-top: 1.8rem;
    padding: 0.5rem 0.9rem;
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 7px;
  }
  .SubscriberForm input {
    border-radius: 8px;
    padding: 0.7rem 1rem;
    border: 1px solid var(--gray);
  }
  .FormContent {
    padding: 0 2rem;
  }
  .MobileAppSection {
    padding: 1rem 2rem;
    display: grid;
    row-gap: 2rem;
  }
  .MobileAppSection .SvgLogo {
    width: 100%;
  }
}

.h1 {
  padding: 0;
  margin: 0;
}
.p {
  line-height: 40px;
  margin-top: 0.8rem;
}
.val {
  color: var(--dark-blue);
  display: inline-block;
}
.RegisterBtn {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  margin-top: 1.2rem;
  border-radius: 8px;
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 500;
}
.Features h2 {
  text-align: center;
}

.MobileAppSection .Left p {
  margin-top: 1.2rem;
  font-size: 0.9rem;
  line-height: 2;
}

.AppLogo {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}
.AppLogo img {
  width: 300px;
}
